@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #8c52ff;
    --color-primary-dull: #6e3fc4;
    --color-light: #F1F5F9;
    --color-borderColor: #c4c7d2;
}
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}